

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
}

.logo{
    color: antiquewhite;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.navlinks{
    display: flex;
    /* background-color: red; */
    gap: 40px;
}

.navlinks li{
    list-style: none;
}

.navlinks a{
    color: rgb(251, 244, 244);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 16px;
}

.burger div{
    width: 20px;
    height: 2px;
    background-color: antiquewhite;
    margin: 3px;
}

.burger{
    display: none;
}

@media screen and (max-width: 1024px) {

    .navlinks{
        width: 68%;
    }

    
}

@media screen and (max-width: 768px) {

    .navlinks{
        position: absolute;
        right: 0px;
        height: 92vh;
    }
}
